<div id="blocker">
    <div id="title">Click !</div>
    <div id="instructions">
        <p>
            Z, Q, S, D / Souris = Deplacement<br>
            ESPACE = Sauter<br>
            <b>getcube touche E.</b><br>
            En cours: Inventaire<br>
            Echap : Pause
        </p>
    </div>
</div>
<div id="inventaire">
    <div id="title">Inventaire</div>
    <p id="cubes"><span id="nb-cube">0</span> cubes</p>
</div>
<div id="game"></div>
<div id="console" class="console">
    <strong>Coords:</strong> <li ng-repeat="(key, value) in pos">{{key}}: {{value | number:2}}</li>
</div>