<div class="container">
    <div class="col-xs-6">
        <h1><span class="label label-primary">Jethro koull</span></h1>
        <h1><a href="#/game" class="label label-warning">Play</a></h1>
        <h2>Pourquoi? Comment?</h2>
        <p><strong>Apparement ça marche pas pour tout le monde</strong></p>
        <p>Hebergement : Github.io (<a href="http://micktaiwan.github.io/voxelgame/">http://micktaiwan.github.io/voxelgame/</a>)<br>
            Database : Firebase<br>
            Language : AngularJs<br>
            Moteur 3D: <a href="http://threejs.org/">TreeJs</a><br>
        <hr>
        <h2>Release notes</h2>
        <h3>En cours</h3>
        </p><p>Inventaire: on peut sauver des items. RAF: les récupérer.</p>
        <h3>Done</h3>
        <p>Réseau: déplacements et pose/prise de cubes OK !</p>
        <p>collision v1. ok.</p>
        <p>camera à la wow de base. ok.</p>
        <p>deplacement et saut de base. ok.<br>
        -amélioration a faire une fois la colision d'objet en place...<br>
        -distance à la molette... ok!</p>
    </div>
    <div class="col-xs-6">
        <div id="signIn" ng-hide="isSignedIn">
            <h2>Login</h2>
            <strong>{{login_error}}</strong>
            <form name="add_form" ng-submit="login()" role="form">
                <input class="arrondi" type="text" ng-model="name" placeholder="pseudo" ng-disabled="isSignedIn"><br>
                <button type="submit" class="btn btn-default">Login</button>
            </form>
            <h2>Signup</h2>
            <strong>{{error}}</strong>
            <form name="add_form" ng-submit="signup()" role="form">
                <input class="arrondi" type="text" ng-model="name" placeholder="pseudo" ng-disabled="isSignedIn"><br>
<!--            <input class="arrondi" type="text" ng-model="email" placeholder='email (option)' ng-disabled="isSignedIn"><br/>
                <input class="arrondi" type='text' ng-model="pwd"  placeholder='password' ng-disabled="isSignedIn"><br/> -->
                <button type="submit" class="btn btn-default">Signup</button>
            </form>
        </div>

        <h2>Tchat</h2>
        <ul class="chats">
            <li ng-repeat="msg in chat_messages">
                <i class="glyphicon glyphicon-trash" ng-click="deleteMsg(msg.id)" ng-show="msg.id"></i>
                {{msg.date | date:'dd-MMM HH:mm'}} <b>{{msg.name}}</b>: {{msg.text}}
            </li>
        </ul>
        <form name="add_form" ng-submit="addMsg(name, msg)" role="form">
            <input class="arrondi" type="text" ng-model="name" placeholder="pseudo" ng-disabled="isSignedIn">
            <input class="arrondi" type="text" ng-model="msg" id="msg" placeholder="Message">
            <button type="submit" class="btn btn-default">Send</button>
        </form>

        <h2>Dernière connection des joueurs</h2>
        <div>
            <ul class="chats">
                <li ng-repeat="u in users | orderBy:'-date'">{{u.date | date:'dd-MMM HH:mm'}}: {{u.name}}</li>
            </ul>
        </div>
    </div>
</div>