<div id="game"></div>
<div id="robots">
    <b>Robots</b>
    <br/>
    <div ng-show="robots.length > 0"></div>
    <p ng-repeat="r in robots">
        - {{r.dbRobot.type}}
        <span ng-hide="r.active" class="strong">not active</span>
        {{r.printPos()}}
    </p>

    <p>Soon:
        <br/>- Create a new robot
        <br/>- Follow another player
        <br/>- Make him do some action (get me a Box)
        <br/>Todo: indicate distance from player
    </p>
</div>
<div id="blocker">
    <div id="instructions">
        <table>
            <tr class="strong">
                <td>Pause/Unpause:</td>
                <td>Echap</td>
            </tr>
            <tr>
                <td>Deplacements:</td>
                <td>Z, Q, S, D / Souris</td>
            </tr>
            <tr>
                <td>Sauter:</td>
                <td>Espace</td>
            </tr>
            <tr>
                <td>Poser cube:</td>
                <td>R / click droit</td>
            </tr>
            <tr>
                <td>Prendre cube:</td>
                <td>E / click gauche</td>
            </tr>
            <tr>
                <td>Inventaire:</td>
                <td>I</td>
            </tr>
            <tr>
                <td>Select object in inventory:</td>
                <td>press and stay on ESC</td>
            </tr>
        </table>
    </div>
</div>

<div id="inventory" ng-show="showInventory">
    <p>{{inventory.length}} objects in inventory (maintain esc to get your mouse back)</p>
    <button ng-repeat="o in inventory" class="btn" ng-class="{'btn-warning': selectedInventoryObject.id==o.id}" ng-click="selectInventory(o)">
        {{o.display}}
    </button>
</div>

<div id="selectedObject" ng-show="selectedInventoryObject">
    <img ng-if="selectedInventoryObject" ng-src="images/{{selectedInventoryObject.path}}" width="100" height="100">
    <br/>
</div>

<ul id="console" class="console" ng-show="showConsole">
    <li ng-repeat="m in msgs" class="{{m.type}}">{{m.text}}</li>
</ul>
