<div id="blocker">
    <div id="title">Click !</div>
    <div id="instructions">
        <p>
            Z, Q, S, D / Souris = Deplacement<br/>
            ESPACE = Sauter<br/>
            <b>getcube touche E.</b><br/>
            En cours: Inventaire<br/>
            Echap : Pause
        </p>
    </div>
</div>

<div id="inventaire" ng-show="showInventory">
    <div id="title">Inventaire</div>
    <p>{{nbInventory}} objects</p>
    <li ng-repeat="o in inventory">{{o.type}} - {{o.date | date}}</li>
    <img src="" />

    <p>Ca sert à rien mais c'est pour faire une démo :)</p>
    <strong>Coords:</strong> <li ng-repeat='(key, value) in pos'>{{key}}: {{value | number:2}}</li>
</div>

<div id="console" class="console" ng-show="showConsole">
    <li ng-repeat="m in msgs">{{m}}</li>
</div>

<div id="game"></div>

